#test{
    background-color: blue;
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    -moz-transform: skew(0deg, 1deg);
    -webkit-transform: skew(0deg, 1deg);
    -o-transform: skew(0deg, 1deg);
    -ms-transform: skew(0deg, 1deg);
    transform: skew(0deg, 1deg);
}
#frame{
    margin: auto;
}