body {
  margin: 0;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
thead{
  text-align: center;
}
tbody{
  text-align: center;
}

#add_subj{
  
  display: block;
  position: sticky;
  top: 90%;
  left: 20%;
  width: 45%;
  margin: auto;
  
}

#delete_card{
  text-align: center;
  padding:5%;
  margin-top: 25%;
}
#existing_cards,#delete_subject,#add_card{
  width: 20%; /*can be in percentage also.*/
  margin: 1% auto;
  padding: 0.5%;
  position: relative;
}


.upload_pic{
  text-align: center;
  margin: auto;
}
#start_game{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: -7%;
  margin-left: -22%;

}
#connect{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: 1%;
  margin-left: -22%;

}

#button1 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
}

#button2 {
  /* background-color: blue; */
  height: 120px;
  width: 120px;
  border: none;
}

#button3 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
}

#button4 {
  /* background-color: green; */
  height: 120px;
  width: 120px;
  border: none;
}

#button5 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
}

#button6 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button7 {
  /* background-color: green; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button8 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button9 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button10 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
  /* margin-left: 78.34%; */
  /* display: flex; */
  /* right: 78.9%; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  
} 

#button11 {
  /* background-color: blue; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button12 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button13 {
  /* background-color: green; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button14 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button15 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button16 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button17 {
  /* background-color: blue; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button18 {
  /* background-color: green; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button19 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button20 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button21 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button22 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button23 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button24 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button25 {
  /* background-color: pink; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button26 {
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  border: none;
} 

#button27 {
  /* background-color: cyan; */
  height: 120px;
  width: 120px;
  border: none;
} 


#buttons {
  display: inline;
} 


/* #a,#b,#c{
  
  margin: 0 auto;
  margin-top: 5%;
  display: block;
} */
  

