body {
  margin: 0;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
thead{
  text-align: center;
}
tbody{
  text-align: center;
}

#existing_cards,#add_remove_btm,#remove_subject{
  margin: auto;
  width: 20%;
}

#start_game{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: -7%;
  margin-left: -22%;

}
#connect{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: 1%;
  margin-left: -22%;

}

#container {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-right: 15%;
}

#lock {
  float: left;
  content: "\e033";
  /* background-color: red; */
  width: 20%;
}

#buttons {
  display: block;
  position: fixed;
  height: 95%;
  width: 75%;
}  

#buttons > Button {
  height: 15%;
  width: 9%;
  border: none;
  border-radius: 0%;
  background-color: white;
}

