body {
  margin: 0;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
thead{
  text-align: center;
}
tbody{
  text-align: center;
}

#existing_cards,#add_remove_btm,#remove_subject{
  margin: auto;
  width: 20%;
}

#start_game{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: -7%;
  margin-left: -22%;

}
#connect{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  margin-top: 1%;
  margin-left: -22%;

}

/* #a,#b,#c{
  
  margin: 0 auto;
  margin-top: 5%;
  display: block;
} */
  

